/* Google Font CSS */

@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

=======
>>>>>>> f60f9bf7d1331cee1844aa396f431f4cf5fdf761
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #131731;
}

.title {
<<<<<<< HEAD
  /* font-family: "Archivo Black", serif; */
  font-family: "Noto Sans", serif;
=======
  font-family: "Archivo Black", serif;
>>>>>>> f60f9bf7d1331cee1844aa396f431f4cf5fdf761
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding: 2px 10px;
  color: #4a9820;
}

.nav-link {
<<<<<<< HEAD
  /* font-family: "Josefin Sans", sans-serif; */
  font-family: "Noto Sans", serif;
=======
  font-family: "Josefin Sans", sans-serif;
>>>>>>> f60f9bf7d1331cee1844aa396f431f4cf5fdf761
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #b10000;
  margin-left: 5px;
}

.navbar {
  background-color: #ffffff;
  border-bottom: 3px solid #b10000;
}

.nav-link:hover,
.navbar-nav .nav-item .active:hover {
  color: #ffffff;
  background-color: #b10000;
  border-radius: 10px;
}

.main-body {
  height: 1000px;
  margin: auto;
}

<<<<<<< HEAD
.dropdown:hover .dropdown-menu {
  display: block;
  background-color: #f7f7f7;
}

.dropdown:hover .dropdown-menu .dropdown-item:hover{
  color: #ffffff;
  background-color: #b10000;
  border-radius: 5px;
}

=======
>>>>>>> f60f9bf7d1331cee1844aa396f431f4cf5fdf761
/* Banner */
@media only screen and (max-width: 480px) {
  .banner {
    padding-top: 135px;
  }

<<<<<<< HEAD
  .banner>img {
=======
  .banner > img {
>>>>>>> f60f9bf7d1331cee1844aa396f431f4cf5fdf761
    border: 3px solid red;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 481px) {
  .banner {
    padding-top: 95px;
  }

<<<<<<< HEAD
  .banner>img {
=======
  .banner > img {
>>>>>>> f60f9bf7d1331cee1844aa396f431f4cf5fdf761
    border: 3px solid red;
    border-radius: 5px;
  }
}

.banner .h1 {
  color: #b10000;
  font-size: 4rem;
  font-weight: 900;
  padding: 3rem;
}

.banner-footer {
  margin-top: -60px;
}

.banner-footer .h2 {
  color: #b10000;
  font-weight: 500;
  text-align: center;
}

/* Intro */

.div-main {
  margin-top: 2rem;
}

.bg-common {
  margin-bottom: 1.25rem;
  background: linear-gradient(110deg, #c0fbf7, #fbffff);
  padding: 1.25rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.bg-common .h1,
.h2 {
  color: #131731;
  text-shadow: 2px 2px #3c617a;
<<<<<<< HEAD
}
=======
  text-align: center;
}
/* .bg-common p {
  text-align: justify;
} */
>>>>>>> f60f9bf7d1331cee1844aa396f431f4cf5fdf761

.bg-common ul li {
  text-align: left;
}
<<<<<<< HEAD

=======
/* .content {
  text-align: left;
}
h1 {
  text-align: center;
}*/
p {
  text-align: justify;
}
>>>>>>> f60f9bf7d1331cee1844aa396f431f4cf5fdf761
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.card {
  background: linear-gradient(150deg, #3c617a 0%, #437292 100%);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 8px 8px #3c617a;
<<<<<<< HEAD
=======
  transition: background 0.5s, transform 0.5s;
}

.grid :hover {
  background: rgb(0, 255, 149);
  transform: translateY(-10px);
>>>>>>> f60f9bf7d1331cee1844aa396f431f4cf5fdf761
}

.text-seperator {
  width: 100%;
  border-bottom: 2px solid #14242e;
  box-shadow: 1px 1px 5px #9ac7ff;
  margin-top: 2px;
  margin-bottom: 1rem;
}

/* About US */

@media only screen and (max-width: 480px) {
  .about-us {
    margin-top: 145px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 481px) {
  .about-us {
    margin-top: 120px;
    margin-bottom: 10px;
  }
}

/* NEWS & Eventsa */
@media only screen and (max-width: 480px) {
  .news-events {
    margin-top: 145px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 481px) {
  .news-events {
    margin-top: 120px;
    margin-bottom: 10px;
  }
}

/* Contact US */

@media only screen and (max-width: 480px) {
  .contact-us {
    margin-top: 145px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 481px) {
  .contact-us {
    margin-top: 110px;
    margin-bottom: 10px;
  }
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
<<<<<<< HEAD
  gap: 1.0rem;
=======
  gap: 1rem;
>>>>>>> f60f9bf7d1331cee1844aa396f431f4cf5fdf761
}

.contact-grid-card {
  padding: 0.5rem;
}

/****** footer *****/
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer-section {
  text-align: left;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-section p,
.footer-section ul {
  margin: 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a,
.footer-section a {
  text-decoration: none;
  color: #00aced;
}

.footer-section a:hover {
  text-decoration: underline;
}

.social-icons a {
  margin-right: 10px;
  text-decoration: none;
  color: #00aced;
}

.social-icons a:hover {
  color: #fff;
<<<<<<< HEAD
}
=======
}

// gallery.html code
h1 {
  position: relative;
  font-size: 24px;
  margin-bottom: 20px;
}
h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: #3498db;
  transition: width 0.4s ease, left 0.4s ease;
}
h1:hover::after {
  width: 100%;
  left: 0;
}
.gallery {
  display: flex;
  gap: 20px;
}
>>>>>>> f60f9bf7d1331cee1844aa396f431f4cf5fdf761
